:root {
  --main-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --color-black: #000000;
  --secondary-bg-color: #2f303a;
  --main-text-color: #757575;


  /* -------OTHERS---------- */
  --main-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --slow-anim: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

/* ------------RESET--------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;

}



/*<!--ШАПКА-------------------------------------------->*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.logo-item {
  color: var(--accent-color);
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 50px;
}

.nav-list-item {
  list-style: none;
  position: relative;
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--main-anim);
}

.nav-list-link::after {
  content: '';
  position: absolute;
  display: block;

  transform: translateX(-50%) scaleX(1);

  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--accent-color);
}

.nav-list-link:hover::after,
.nav-list-link:focus:after {
  opacity: 1;

  transform: translateX(-50%) scaleX(1);
  transition: transform var(--main-anim);
}

.nav-list-item a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.nav-list-item a:hover {
  color: var(--accent-color);
}


.contacts {
  display: flex;
  align-items: center;
}

.contact-list {
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact-list .contacts {
  justify-content: end;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: var(--main-anim);
  -webkit-transition: var(--main-anim);
}

.nav-list-item a:focus {
  color: var(--accent-color);
}

.contact-list .contacts:hover {
  color: var(--accent-color);
  transition: var(--main-anim);
}

.contact-list .contacts:focus {
  color: var(--accent-color);
}

.header-icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.contact-list .contacts:hover .header-icon,
.contact-list .contacts:focus .header-icon {
  fill: var(--accent-color);
}

/*<!--Хіро блок-------------------------------------------->*/

.hero {
  background: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
}

.main-text {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  border: #2196f3;
  cursor: pointer;
  transition: var(--main-anim);
}

.main-button:hover {
  border: #188ce8;
  background: #188ce8;
}

/*<!--Наші переваги-------------------------------------------->*/

.about {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.about-content {}

.about-list {
  display: flex;
}

.about-tittle {
  opacity: 0;
  height: 0px;
}

.about .list {
  display: flex;
  align-items: top;
  gap: 30px;
}

.about-sub-tittle {
  margin-bottom: 10px;
  width: 270px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.about-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*<!--Чим ми займаємося-------------------------------------------->*/
.work {
  padding-bottom: 94px;
}

.work-tittle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.work-tumb {
  position: relative;
  overflow: hidden;
}


.work-overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;


  padding-top: 27px;
  padding-bottom: 27px;


  background: rgba(47, 48, 58, 0.8);

  color: #FFFFFF;

}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list-item {}

/*<!--Наша команда-------------------------------------------->*/

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-tittle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-sub-tittle {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  display: block;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-work {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: var(--main-anim);
}

.team-link:hover,
.team-link:focus {
  background: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-icons {
  fill: #AFB1B8;

  transition: var(--main-anim);
}

.team-link:hover .team-icons,
.team-link:focus .team-icons {
  fill: var(--secondary-color);

}

/* -----------CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-content {}

.container {}

.clients .tittle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-logo:hover {}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: var(--main-anim);
}

.client-link:hover .clients-icon,
.client-link:focus .clients-icon {
  fill: #2196F3;
  border-radius: 4px;
  transition: var(--main-anim);
  -webkit-transition: var(--main-anim);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: #AFB1B8;
  transition: var(--main-anim);
}


/* -------------FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-bg-color);
}

.footer-address {
  margin-right: 70px;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-social .tittle {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-social {
  width: 206px;
  margin-right: 93px;
}

.footer-icons {
  fill: var(--secondary-color);

}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-link {
  -webkit-transition: var(--main-anim);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-link:hover {
  transition: var(--main-anim);
  background: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-nav {
  display: flex;
  align-items: baseline;
  /* gap: 70px; */
}

.footer-social .tittle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer .footer-text {
  cursor: pointer;
}

.footer .contacts {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--main-anim);
  -webkit-transition: var(--main-anim);
}

.footer .text {
  color: var(--secondary-color);
  font-style: normal;
  margin-bottom: 9px;
  cursor: pointer;
  transition: var(--main-anim);
  -webkit-transition: var(--main-anim);
}

.footer .text:hover {
  color: var(--accent-color);
}

.footer .contacts:hover {
  color: var(--accent-color);
}

.footer .contacts:focus {
  color: var(--accent-color);
}

.footer .logo {
  display: block;
  padding-bottom: 20px;
  color: var(--secondary-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.group-mailing {
  display: flex;
  gap: 12px;
}

.footer-mailing {
  justify-content: center;
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--secondary-color);
}

.button-mailing {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  color: var(--secondary-color);
  transition: var(--main-anim);
}

.button-mailing:hover {
  border: #188ce8;
  background: #188ce8;

}

.span-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-right: 10px;
}

.icon-footer {
  fill: var(--secondary-color);
}

/* -------------------MODAL-------------------- */
.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: opacity 800ms, visibility 800ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-80%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  height: 581px;

  padding: 40px;


  transition: transform var(--main-anim), opacity var(--main-anim);

  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}


.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--main-anim);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus-within .modal-icon {
  fill: var(--accent-color);
}

.modal-btn .modal-icon {
  transition: var(--main-anim);
}

.modal-icon:hover {
  fill: var(--accent-color);
}

.title-form {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--main-color);
}

.group-field {
  width: 448px;
  height: 342px;
}

.form-field {
  width: 448px;
  height: 58px;
  margin-bottom: 10px;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--main-anim);
}

.icon-input {
  transition: var(--main-anim);
}

.group-icon:focus-within .icon-input,
.group-icon:hover+.icon-input {
  fill: var(--accent-color);
}

.form-input:focus,
.icon-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}


.form-label {
  margin-bottom: 4px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.166667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.group-icon {
  position: relative;
}

.icon-input {
  position: absolute;
  display: inline-block;
  top: 11px;
  bottom: 11px;
  left: 12px;
}

.form-comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  transition: var(--main-anim);
}

.form-comment::placeholder {

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus,
.icon-comment:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.conditions-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.check-form {
  color: var(--main-text-color);
  gap: 7px;
  user-select: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.form-chekbox {
  appearance: none;

  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  outline: 2px solid transparent;
  transition: var(--main-anim);
  outline-offset: -2px;
}

.form-chekbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
}

.ref-form {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 3px;

}

.form-textarea {
  width: 448px;
  height: 138px;
}

.button-form {
  width: 200px;
  height: 50px;
  margin: auto;
  outline: none;
  display: flex;
  align-items: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: transparent;
  transition: var(--main-anim);
}




.button-form:hover,
.button-form:focus {
  background: #188CE8;
}

/*-------------------PORTFOLIO------------------*/

.pf-content {}

.portfolio .tittle {
  text-align: center;
  opacity: 0;
  height: 0px;
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;

}

.portfolio ul {
  list-style: none;
}

.pf-btn {
  margin: 0px;
  padding: 0px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.portfolio-btn {
  padding: 6px 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: transparent;
  border-radius: 4px;
  transition: var(--main-anim);
}

.portfolio-btn:hover {


  background-color: var(--accent-color);
  color: var(--secondary-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio .sub-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-list {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pf-card {
  border: 1px #eeeeee;
  padding: 20px 24px;
}

.pf-cards {
  width: 370px;
  border: 1px solid #EEEEEE;
}

.pf-cards:hover {
  transition: var(--main-anim);
  -webkit-transition: 3c linear;
  background: var(--secondary-color);
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-tumd {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);


  user-select: none;

  opacity: 0;

  transform: translateY(100%);
  transition: var(--main-anim);

  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  transition: transform var(--slow-anim), opacity var(--main-anim);
}

.pf-cards:hover .overlay {
  opacity: 1;
  transform: translateY(0);
  transition: var(--slow-anim), opacity var(--slow-anim);
}


/* -----------------ANIMATION---------------------- */

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}